*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.class

# Intellij ide
*.iml
*.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Distribution
*.iml
.gradle
.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build/tmp
/build/classes
/captures
.externalNativeBuild